
<ion-grid class="register">

  <ion-row>
        <ion-button color="dark" fill="outline" class="btn" (click)="addNumber(1)">
          <p class="num">1</p>
        </ion-button>
        <ion-button color="dark" fill="outline" class="btn" (click)="addNumber(2)">
          <p class="num">2</p>
        </ion-button>
        <ion-button color="dark" fill="outline" class="btn" (click)="addNumber(3)">
          <p class="num">3</p>
        </ion-button>
  </ion-row>

  <ion-row>
        <ion-button color="dark" fill="outline" class="btn" (click)="addNumber(4)">
          <p class="num">4</p>
        </ion-button>
        <ion-button color="dark" fill="outline" class="btn" (click)="addNumber(5)">
          <p class="num">5</p>
        </ion-button>
        <ion-button color="dark" fill="outline" class="btn" (click)="addNumber(6)">
          <p class="num">6</p>
        </ion-button>
  </ion-row>

  <ion-row>
        <ion-button color="dark" fill="outline" class="btn" (click)="addNumber(7)">
          <p class="num">7</p>
        </ion-button>
        <ion-button color="dark" fill="outline" class="btn" (click)="addNumber(8)">
          <p class="num">8</p>
        </ion-button>
        <ion-button color="dark" fill="outline" class="btn" (click)="addNumber(9)">
          <p class="num">9</p>
        </ion-button>
  </ion-row>

  <ion-row>
      <ion-button color="danger" class="btn ion-no-padding" (click)="addNumber(-1)">
        <p class="btn-reset">RESET</p>
      </ion-button>
      <ion-button color="dark" fill="outline" class="btn" (click)="addNumber(0)">
        <p class="num">0</p>
      </ion-button>
      <ion-button color="success" class="btn ion-no-padding" (click)="addNumber(-2)" >
        <p class="btn-add">ADD</p>
      </ion-button>
  </ion-row>

</ion-grid>