.center {
    margin-top: 70%;
}

.buttons {
    max-width: 300px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    // margin-top: -50px;
    // margin-left: -100px;
}