.header p {
    color: grey;
    font-size: x-large;
    padding: 0;
    margin-top: 5;
    margin-bottom: 5px;
}

p {
    color: grey;
}

.btn-order {
    display: flex;
    justify-content: center;
}
